@define-color background-color #C0C0C0;
@define-color border-color     #000000;
@define-color label            #000000;
@define-color image            #000000;
@define-color progress         #000080;

window {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
}

.osd, 
osd,
osd {
    background-color: @background-color;
    border: 2px solid @border-color;
    border-radius: 0;
    box-shadow: none;
    padding: 10px 14px;
}

image {
    color: @image;
    -gtk-icon-size: 16px;
    margin: 0 10px 0 0;
}

label {
    color: @label;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
}

progressbar {
    border-radius: 0;
    padding-bottom: 0;
    margin: 6px 0 0 0;
    min-height: 8px;
    min-width: 200px;
}

progressbar trough {
    background: #808080;
    border-radius: 0;
    border: 1px solid #000000;
    min-height: 8px;
}

progressbar progress {
    background: @progress;
    border-radius: 0;
}