@define-color selected-text #FFFFFF;   
@define-color text #000000;              
@define-color base #C0C0C0;               
@define-color border #000000;            
@define-color foreground #000000;         
@define-color background #C0C0C0;       
@define-color hover #808080;             
@define-color selected-box #000080;            

window .search-container,
window .search {
  background: @base;
  box-shadow: none;
  color: @foreground;
  border: 2px solid @border;
  border-radius: 0;
  padding: 6px 12px;
  margin-top: 0;
  font-size: 11px;
  font-weight: 600;
}

.box-wrapper {
  border-radius: 0;
}

child:selected {
  border-radius: 0;
  background-color: @selected-box;
  box-shadow: none;
  transition: none;
}

child:selected .item-box {
  transition: none;
  transform: none;
}

child:selected .item-box * {
  color: @selected-text;
}